@using JoinCar.Database.Entities
@using Microsoft.AspNet.Identity
@model IEnumerable<object>
@{
    Trip trip = Model.ToList()[0] as Trip;
    List<ApplicationUser> passengers = Model.ToList()[1] as List<ApplicationUser>;
    List<Interest> userInterests = Model.ToList()[2] as List<Interest>;
}

@{
    ViewBag.Title = "Details";
}
<script type="text/javascript" language="javascript">jQuery('FC').attr('data-href', window.location.href.split('?')[0]);</script>
<script type="text/javascript" language="javascript">jQuery('FL').attr('data-href', window.location.href.split('?')[0]);</script>
<div id="fb-root"></div>
<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.6&appId=1073333016046323";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>


<h2>Details</h2>

<div>
    <h4>Trip</h4>
    <hr />
<div style="display: inline-block; float: right;">
    <div id="googleMap" style="width: 500px; height: 380px;"></div>
</div>

    <div style="display: inline-block; float: left;">
    @Html.Partial("_MapView", trip)
    @Html.Partial("_TripDetails", trip)

    @{
        if (User.Identity.GetUserId() != trip?.UserId)
        {
            if (trip?.DateTime > DateTime.Now)
            {
                if (trip?.AvailableSeats > 0 && userInterests != null && userInterests.All(i => i.TripId != trip.Id))
                {
                    <form action="" method="post" style="text-align: center;">
                        @Html.AntiForgeryToken()
                        <input type="submit" value="JoinCar" name="action:JoinCar" class="btn btn-default"/>
                    </form>
                }

                if (userInterests != null && userInterests.Any(interest => interest.TripId == trip?.Id))
                {
                    <form action="" method="post">
                        @Html.AntiForgeryToken()
                        <input type="submit" value="LeaveCar" name="action:LeaveCar" class="btn btn-default"/>
                    </form>
                }
            }
            else if (userInterests != null && userInterests.Any(interest => interest.TripId == trip?.Id))
            {
                <br />
                <h2>@Html.ActionLink("Write opinion", "CreateOpinion", new { tripId = trip?.Id })</h2>
            }
        }
    }
</div>
<div style="clear: both;"></div>
<h2>Passengers</h2>
@Html.Partial("_PassengersList", passengers)

<div id="FL" class="fb-like" data-href="" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div><br />
<div id="FC" class="fb-comments" data-href="" data-width="600" data-numposts="5"></div>


@{
    if (User.Identity.GetUserId() == trip?.UserId)
    {
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = trip?.Id }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
    }
    else
    {
        <p>
            @Html.ActionLink("Back to List", "Index")
        </p>
    }
}

